table{
    font-family:'Calibri';
    font-size:15px;
    background-color:#fff;
    color:#333;
    width: 100%;
}
thead tr th{
    font-size: 18px;
    font-weight: 600;
}
.modal-header{
    background-color:rgb(124, 122, 122);
    color:#fff;
}