<br> <br>
<div class="container">
  <div class="alert alert-success" *ngIf="added">
    The train has been added successfuly
  </div>

  <form [formGroup]="AddTrainForm" (ngSubmit)="AddTrain()">
    <div class="form-group row">
      <label for="ID" class="col-sm-2 ">Train ID</label>
      <div class="col-sm-10">
        <input readonly type="text " class="form-control" id="ID" placeholder="Train ID">
      </div>
    </div>

    <div class="form-group row">
      <label for="hotelName" class="col-sm-2 ">Train Number</label>
      <div class="col-sm-10">
        <input type="text " class="form-control" formControlName="trainNumber" placeholder="Train Number">
      </div>
    </div>
    <div class="form-group row">
      <label for="city" class="col-sm-2">city</label>
      <div class="col-sm-10">
        <select class="form-control" formControlName="city">
          <option>Choose City</option>
          <option *ngFor="let ciity of CityList" [value]='ciity.name'>{{ciity.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="city" class="col-sm-2">cityID</label>
      <div class="col-sm-10">
        <select class="form-control" formControlName="cityID">
          <option>Choose City</option>
          <option *ngFor="let ciity of CityList" [value]='ciity.id'>{{ciity.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="destination" class="col-sm-2">destination</label>
      <div class="col-sm-10">
        <select class="form-control" formControlName="destination">
          <option>Choose City</option>
          <option *ngFor="let destination of CityList" [value]='destination.name'>{{destination.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="destination" class="col-sm-2">destinationID</label>
      <div class="col-sm-10">
        <select class="form-control" formControlName="destinationId">
          <option>Choose City</option>
          <option *ngFor="let destination of CityList" [value]='destination.id'>{{destination.name}}</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="departureTime" class="col-sm-2 ">departure Time</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="departureTime" placeholder="departureTime">
      </div>
    </div>
    <div class="form-group row">
      <label for="arrivalTime" class="col-sm-2 ">arrival Time </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="arrivalTime" placeholder="arrival Time">
      </div>
    </div>
    <div class="form-group row">
      <label for="details" class="col-sm-2 ">details </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="details" placeholder="details">
      </div>
    </div>


    <div class="form-group row">
      <label for="ticketPrice" class="col-sm-2 ">ticket Price</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="ticketPrice" placeholder="ticketPrice">
      </div>
    </div>

    <button type="submit" [disabled]="AddTrainForm.invalid" class="btn btn-block btn-primary ">Add</button>
  </form>
</div>
