<br> <br>
<div class="container">

    <form [formGroup]="AddHotelForm" (ngSubmit)="AddHotel()">
        <div class="form-group row">
            <label for="ID" class="col-sm-2 ">Hotel ID</label>
            <div class="col-sm-10">
              <input readonly type="text "class="form-control" id="ID" placeholder="Hotel ID">
            </div>
        </div>
        
        <div class="form-group row">
            <label for="hotelName" class="col-sm-2 ">Hotel name</label>
            <div class="col-sm-10">
              <input  type="text " class="form-control" formControlName="hotelName" placeholder="Hotel namer">
            </div>
        </div>
        <div class="form-group row">
            <label for="city" class="col-sm-2">city</label>
            <div class="col-sm-10" >
                <select class="form-control" formControlName="city" >
                    <option>Choose City</option>
                    <option *ngFor="let ciity of CityList" [value]='ciity.name'>{{ciity.name}}</option>
                    </select>
            </div>
        </div> 
        <div class="form-group row">
            <label for="adress" class="col-sm-2 ">adress</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="adress" placeholder="adress">
            </div>
        </div>
        <div class="form-group row">
            <label for="contactInfo" class="col-sm-2 ">Contact info</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="contactInfo" placeholder="Contact info">
            </div>
        </div>
        
       
        <div class="form-group row">
            <label for="roomPrice" class="col-sm-2 ">Room price</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" formControlName="roomPrice" placeholder="Room price">
            </div>
        </div>
     
        <button type="submit" [disabled]="AddHotelForm.invalid" class="btn btn-primary p-3 col-md-5">Add</button>
    </form>
</div>