<!-- main -->
<div id="content" class="col-md-12">
    <!--  page tital -->
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-0 pb-2 mb-3 border-bottom">
        <h1 class="h2">All Users</h1>
      </div>
    <!-- charts -->
    <div class="main-content">
      <div class="row">
        <div class="col-sm-12 navebar-expand-lg">
            <div class="sb2-2-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-inn-sp">
                            <div class="tab-inn">
                                <div class="table-responsive table-desi">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>event</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Country</th>
                                                <th>View</th>
                                                <th>Edit</th>
                                                <th>Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                
                                                <td><a href="#"><span class="list-enq-name">Domestic Help Services</span><span class="list-enq-city">Illunois, United States</span></a>
                                                </td>
                                                <td>12 may, 2018</td>
                                                <td>18 may, 2018</td>
                                                <td>Australia</td>
                                                <td>
                                                    <a href="#">
                                                        <i class="far fa-eye"></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="#">
                                                        <i class="far fa-trash-alt"></i></a>
                                                </td>
                                                <td>
                                                    <a href="#">
                                                        <i class="fas fa-edit"></i>></a>
                                                </td>
                                            </tr>
                                            <tr>
                
                                                <td><a href="#"><span class="list-enq-name">Domestic Help Services</span><span class="list-enq-city">Illunois, United States</span></a>
                                                </td>
                                                <td>12 may, 2018</td>
                                                <td>18 may, 2018</td>
                                                <td>Australia</td>
                                                <td>
                                                    <a href="#">
                                                        <i class="far fa-eye"></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="#">
                                                        <i class="far fa-trash-alt"></i></a>
                                                </td>
                                                <td>
                                                    <a href="#">
                                                        <i class="fas fa-edit"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                
                                                <td><a href="#"><span class="list-enq-name">Domestic Help Services</span><span class="list-enq-city">Illunois, United States</span></a>
                                                </td>
                                                <td>12 may, 2018</td>
                                                <td>18 may, 2018</td>
                                                <td>Australia</td>
                                                <td>
                                                    <a href="#">
                                                        <i class="far fa-eye"></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="#">
                                                        <i class="far fa-trash-alt"></i></a>
                                                </td>
                                                <td>
                                                    <a href="#">
                                                        <i class="fas fa-edit"></i></a>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
