  <!-- Sidebar  -->
  <nav id="sidebar">
    <ul class="list-unstyled components">
      <p> Main Menu</p>
      <li>
        <a href="index.html"> Dashboard</a>
      </li>
      <li>
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle active">
          <i class="fas fa-calendar-minus"></i>
          Events</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a href="#">All Events</a>
          </li>
          <li>
            <a href="#">Add new Event</a>
          </li>

        </ul>
      </li>

      <li>

        <a href="#userSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-user"></i>
          User</a>
        <ul class="collapse list-unstyled" id="userSubmenu">
          <li>
            <a href="#">All User</a>
          </li>
          <li>
            <a href="#">Add new User</a>
          </li>

        </ul>
      </li>
      <li>
        <a href="#hotelSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <i class="fas fa-h-square"></i>
          Hotels</a>
        <ul class="collapse list-unstyled" id="hotelSubmenu">
          <li>
            <a routerLink="/hotels/all">All Hotels</a>
          </li>
          <li>
            <a routerLink="/hotels/add">Add new Hotel</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#trainsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
            <i class="fas fa-h-square"></i>
            Trains</a>
        <ul class="collapse list-unstyled" id="trainsSubmenu">
          <li>
            <a routerLink="/trains/all">All Trains</a>
          </li>
          <li>
            <a routerLink="/trains/add">Add new Trains</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#activitiesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-h-square"></i>
          Activities Articles</a>
        <ul class="collapse list-unstyled" id="activitiesSubmenu">
          <li>
            <a  [routerLink]="'/activitiesArticles'">All Activities Articles</a>
          </li>
          <li>
            <a  [routerLink]="'/addActivitiesArticle'">Add New Activities Article</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#reportSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fas fa-chart-bar"></i>
          Reports</a>
        <ul class="collapse list-unstyled" id="reportSubmenu">
          <li>
            <a href="#">All Reports</a>
          </li>
          <li>
            <a href="#">Add new Report</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>


