<br> <br>
<div class="container">

  <div class="alert alert-success" *ngIf="deleted">
    The train has been deleted successfuly
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">train ID</th>
        <th scope="col">train Number</th>
        <th scope="col">from</th>
        <th scope="col">to</th>
        <th scope="col">departure</th>
        <th scope="col">arrival</th>
        <th scope="col">details</th>
        <th scope="col">price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let train of TrainList; let SN=index">
        <!-- <tr> -->
        <td>{{train.id}}</td>
        <!-- <td></td> -->
        <td>{{train.trainNumber}}</td>
        <td>{{train.city}}</td>
        
        <td>{{train.destination}}</td>
        <td>{{train.departureTime}}</td>
        <td>{{train.arrivalTime}}</td>
        <td>{{train.details}}</td>
        <td>{{train.ticketPrice}}</td>
        <td><button type="submit" class="btn btn-primary " routerLink="/trains/edit/{{train?.id}}">Update</button></td>
        <td><button type="submit" class="btn btn-danger " (click)="deletetrain(train?.id)">Delete</button></td>

      </tr>

    </tbody>
  </table>
</div>
